[[source]]
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = true
name = "kruxprop"

[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krux-stdlib = {version="==3.0.0", index="kruxfoss"}
requests = {version="==2.21.0", index="pypi"}
"enum34" = {version="==1.1.6", index="pypi"}
six = {version="==1.11.0", index="pypi"}

[dev-packages]
coverage = {version="*", index="pypi"}
mock = {version="*", index="pypi"}
nose = {version="*", index="pypi"}

[requires]
python_version = "2.7"
