[[source]]
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = true
name = "kruxprop"

[[source]]
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krux-stdlib = "==3.0.0"
requests = "==2.18.4"
"enum34" = "==1.1.6"
six = "==1.11.0"

[dev-packages]
coverage = "*"
mock = "*"
nose = "*"

[requires]
python_version = "2.7"
